.card-container{
    background: rebeccapurple;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border-radius: 10px;
    width: 400px;
    width: 400px;
    padding: 20px;
    color: rgb(255, 255, 255);
    overflow-y: auto;
}

.card-container:hover{
    border: 1px solid white;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 14px 28px, rgba(255, 255, 255, 0.22) 0px 10px 10px;
    
}
.card-container h1{
    color: white;
}
.verticon:hover{
    cursor: pointer;
}
.card-container:hover h1{
    color: rgb(255, 255, 255);
}
.card-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &:hover{
        cursor: pointer;
    }
}
h1{
    color: rgb(97, 95, 95);
    margin-bottom: 10px;
}
p{
    font-size: 18px;
}
li{
    margin-top: 15px;
    margin-bottom: 20px;
}
.card-button{
    margin-top: 20px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.card-button button{
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(99, 98, 98);
    background-color: white;
    cursor: pointer;
    &:hover{
        color:white;
        border: 1px solid white;
        background: linear-gradient(to right, rebeccapurple, white);
    }
}

.blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 5;
}

.fulldetails-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    z-index:999;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border-radius: 10px;   
    width: 450px;
    width: 70%;
    background-color: rebeccapurple;
    color: white;
}
.fulldetails-container p,h1,h2,label{
    color: white;
}


.crossicon{
    cursor: pointer;
}

.fulldetails-container:hover{
    border: 1px solid white;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 14px 28px, rgba(255, 255, 255, 0.22) 0px 10px 10px;
}

.popup-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comname p{
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}
.jobdetails{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}

.jobdetails .labelans{
    font-weight: bold;
}
.description{
    font-size: 18px;
}

.popup-button{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    gap: 10px;
}
.popup-button button{
    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    color: rebeccapurple;
    background-color: white;
    cursor: pointer;
    &:hover{
        color:white;
        background: linear-gradient(to right, rebeccapurple, white);
    }
}

@media screen and (max-width:600px) {
    .card-container{
        width: 350px;
        height: 270px;
    }
    .fulldetails-container{
        width: 350px;
    }
}