.home-container{
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rebeccapurple, rgb(197, 138, 255));
}
.card{
    margin-top: 150px;
    margin-bottom: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    position: relative;
}
.search{
    width: 100%;
    height: 100px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}
.search-inputs{
    margin-left: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap: 20px;
}


.search-inputs input{
    border: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    background-color: white;
}
.search-inputs button{
    border: 1px solid gray;
    outline: none;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    color: rebeccapurple;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
    &:hover{
        color:white;
        background: linear-gradient(to right, rebeccapurple, white);
    }
}

@media screen and (max-width:600px) {
    .search-inputs{
        display: flex;
        flex-direction: column;
        margin-left: 0px;
    }
}
